@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.OptionTagHelper , Microsoft.AspNetCore.Mvc.TagHelpers
@model FapSchedule.Pages.Schedule.IndexModel
@using FapSchedule.Models
@{
}


<form method="post">
   
    <label>Lecturer:</label>
    <select name="LecturerID">
        <option value="0" @(Model.lecturerID == 0 ? "selected" : "")>All lecturer</option>
        @foreach (Lecturer l in Model.lecturers)
        {
            <option value="@l.LecturerId" @(Model.lecturerID == l.LecturerId ? "selected" : "")>@l.LecturerCode</option>
        }
    </select>

    <select name="weekday">



        <option value="Mon" @(Model.weekday.Equals("Mon") ? "selected" : "")>Monday</option>
        <option value="Tue" @(Model.weekday.Equals("Tue") ? "selected" : "")>Tuesday</option>
        <option value="Wed" @(Model.weekday.Equals("Wed") ? "selected" : "")>Wednesday</option>
        <option value="Thu" @(Model.weekday.Equals("Thu") ? "selected" : "")>Thursday</option>
        <option value="Fri" @(Model.weekday.Equals("Fri") ? "selected" : "")>Friday</option>
        <option value="Sat" @(Model.weekday.Equals("Sat") ? "selected" : "")>Saturday</option>
        
    </select>
    <br />

    <input type="submit" value="Search" asp-page-handler="Filter" />
</form>
<a asp-page="/schedule/add">Create new schedule</a>
<table border="1px solid black" height="80px">
    <tr>
        <th></th>
        <th width="150px">Slot 1</th>
        <th width="150px">Slot 2</th>
        <th width="150px">Slot 3</th>
        <th width="150px">Slot 4</th>
    </tr>
    @foreach (Room room in Model.rooms)
    {
        <tr >
            <th>@room.RoomName</th>
            @for (var i = 1; i <= 4; i++)
            {
                <td>
                    @foreach (Class c in Model.classes)
                    {
                        @if (c.Room.RoomId == room.RoomId && ((c.FirstSlotNavigation.TimeSlotNo == i &&c.FirstSlotNavigation.WeekDay==Model.weekday) || (c.SecondSlotNavigation.TimeSlotNo == i&&c.SecondSlotNavigation.WeekDay==Model.weekday)))
                        {
                            <p> @c.ClassName - @c.Subject.SubjectCode</p>
                            <p>@c.Lecturer.LecturerCode</p>
                            <p>@c.Room.RoomName</p>
                            <a asp-page="/schedule/update" asp-route-classid="@c.ClassId"> Update </a>
                            
                        }
                    }
                </td>
            }
        </tr>
    }
</table>
